// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-640: 640px;
$vp-960: 960px;
$vp-1280: 1280px;

$vp-700: 700px;
$vp-1020: 1020px;
$vp-1340: 1340px;

$tablet-width: 1340px;
$desktop-width: 1280px;
$mobile-width: 959px;
$xs-width: 639px;